#main>div {
    background: #000;
    color: #fff;
    margin-bottom: 1px;
    cursor: pointer;
}

#main>div>a {
    background: #000;
    color: #fff;
    margin-bottom: 1px;
}

.drop_menu.off {
    height: 0;  
}
.drop_menu.on {    
    
}

a{
    text-decoration: none;
}
.panel > a{
    width: 100%;
    display: block;    
}

.drop_menu{
    
    transition: height 3s ease;
    
    overflow: hidden;
    
}
.drop_menu{
    background: grey;
    
}

.drop_menu>div>a{
    padding-left: 10px;
    color: #fff;
}




